<div ng-mousedown="hideSidebar($event)">
	
	<div data-header-directive></div>
	
	<div class="ui page grid information">
		<div class="row breadcrumb">
			<div class="sixteen wide column shaded-bg">
				<div class="ui breadcrumb">
					<a class="section">Home</a>
					<i class="right arrow icon divider"></i>
					<a class="section">Edits</a>
					<i class="right arrow icon divider"></i>
					<div class="active section">Edit</div>
				</div>
			</div>
		</div>

		<div class="row profile-info equal height">
			<div class="eleven wide column shaded-bg">
				<h2>EDIT 1</h2>
			<div class="ui divider"></div>
				<table>
					<td>Product</td> 
					</tr>
					<td>Description</td> 
					</tr>
					<td>Justification</td>
					</tr>
					<td>Author</td>
					</tr>
					<td>Submission Date</td>
					</tr>
					<td>Status</td>
					</tr>
					<td>Approved By</td>
					</tr>
					<td>Approval Date</td>
				  </tr>
				</table>
				<div class="ui divider"></div>
			</div>
			<div class="four wide column shaded-bg profile-image">
				<table>
				  <tr>
					<td>IMAGE GOES HERE</td>
				  </tr>
				</table>
			</div>
		</div>
	</div>
</div>
