<div ng-mousedown="hideSidebar($event)">
	<div data-header-directive></div>

	<div class="ui page grid information" ng-controller="homeController">
	
		<div data-breadcrumb-directive></div>

		<div class="sixteen wide column removepadding">

			<div class="ui divider"></div>

			<div class="ui filter menu">
				<a class="item" ng-class="{active:tab === 'products'}" ng-click="showTab('products')">
					<i class="archive icon"></i>Products
				</a>
				<a class="item" ng-class="{active:tab === 'users'}" ng-click="showTab('users')" ng-hide="user.permissions == 'Manager' || user.permissions == 'User' || user == null">
					<i class="users icon"></i>Users
				</a>
				<a class="item" ng-class="{active: tab === 'edits'}" ng-click="showTab('edits')" ng-hide="user.permissions == 'Manager' || user.permissions == 'User' || user == null">
					<i class="users icon"></i>Edits
				</a>
				<div class="right menu">
					<div class="item">
						<div class="ui icon input">
							<input type="text" placeholder="Search...">
							<i class="search link icon"></i>
						</div>
					</div>
				</div>
			</div>
			
			<div ng-class="{active:tab === 'products'}" class="ui divided selection list tab">
				<button class="bottom-button select-button">Select All</button>
				<button class="bottom-button select-button">Select None</button>
				<button class="bottom-button select-button">Invert Selection</button>
				<div class="shaded-bg">
					<div class="ui error message" ng-hide="errorMessage == null">
						{{errorMessage}}
					</div>
					
					<div class="tableHeader item">
						<div class="right floated">Actions</div>
						<span>Name</span>
						<div class="right floated list-column-2">Creation Date</div>
					</div>
					
					<div ng-repeat="product in products" class="item">
						<div class="left floated"><input type="checkbox" name="selected"></div>
						<div class="right floated date"><button class="ui red button tiny">edit</button></div>
						<div class="right floated date list-column-2">{{product.dateadded}}</div>
						<div class="name" >
							<a href="#/products/profile/{{product.id}}">{{product.name | cut:true:30:' ...'}}</a>
						</div>
					</div>
				</div>
				<a href="#/products/actions/add"><button class="bottom-button add-button">Add Product</button></a>
				<button class="bottom-button remove-button">Remove Selection</button>
			</div>
			
			<div ng-class="{active:tab === 'users'}" class="ui divided selection list tab">
				<div style="margin-bottom: 10px">
					<div class="ui shaded-bg" style="padding-left: 20px;">
					Filter by:
					<label><input class="filterBox" type="checkbox" name="selected"><div class="ui tiny green button">User</div></label>
					<label><input class="filterBox" type="checkbox" name="selected"><div class="ui tiny purple button">Manager</div></label>
					<label><input class="filterBox" type="checkbox" name="selected"><div class="ui tiny red button">Admin</div></label>
					</div>
				</div>
				
				<div class="ui shaded-bg">
					<div class="ui error message" ng-hide="errorMessage == null">
							{{errorMessage}}
					</div>
					
					<div class="tableHeader item">
						<div class="right floated">Actions</div>
						<span>Email</span>
						<div class="right floated list-column-2">Register Date</div>
						<span class="right floated list-column-2">Privileges</span>
					</div>
					
					<div ng-repeat="user in users" class="item">
						<div class="right floated date"><button class="ui red button tiny">edit</button></div>
						<span class="name">
							<a href="#/users/{{user.userid}}"> {{user.email | cut:false:50:' ...'}}</a>
						</span>
						<div class="right floated date list-column-2">{{user.registerdate}}</div>
						<span class="right floated list-column-2">
							<span class="left floated ui label" ng-class="{green: user.permissions == 'User', red: user.permissions == 'Admin', purple: user.permissions == 'Manager'}">
								{{user.permissions}}
							</span>
						</span>
					</div>
				</div>
			</div>

			<div ng-class="{active: tab === 'edits'}" class="ui divided selection list tab">
				<div style="margin-bottom: 10px;">
					<div ngIf="tab === 'edits'" class="ui shaded-bg" style="padding-left: 20px;">
						Filter by:
						<label><input ng-model="approved" class="filterBox" type="checkbox" name="selected"><div class="ui tiny green button">Approved</div></label>
						<label><input ng-model="pending" class="filterBox" type="checkbox" name="selected"><div class="ui tiny purple button">Pending</div></label>
						<label><input ng-model="denied" class="filterBox" type="checkbox" name="selected"><div class="ui tiny red button">Denied</div></label>
					</div>
				</div>
				<div class="ui shaded-bg">
					<div class="tableHeader item">
						<div class="right floated">Actions</div>
						<span>Type</span>
						<div class="right floated list-column-2">Date</div>
						<span class="list-column-2 right floated">Status</span>
					</div>
					
					<div class="ui error message" ng-hide="errorMessage == null">
						{{errorMessage}}
					</div>
					
					<div ng-repeat="edit in edits" class="item">
						<div class="right floated">
							<div class="ui tiny buttons">
								<div ng-class="{disabled: edit.editstatus != 'Pending'}" class="ui green button">APPROVE</div>
								<div class="or"></div>
								<div ng-class="{disabled: edit.editstatus != 'Pending'}" class="ui red button">REJECT</div>
							</div>
						</div>
						<span class="name">
							<a href="#/edits/{{edit.id}}">{{edit.edittype}}</a>
						</span>
						<div class="right floated date list-column-2">{{edit.editdate}}</div>
						<span class=" list-column-2 right floated">
							<span class="left floated ui label" ng-class="{green: edit.editstatus == 'Approved', red: edit.editstatus == 'Denied', purple: edit.editstatus == 'Pending'}">
								{{edit.editstatus}}
							</span>
						</span>
					</div>
				</div>
			</div>

			<div class="ui divider"></div>

			<div data-pagination-directive total-items="totalTabItems" current-page="currentPage"
					page-range="pageRange" items-per-page="itemsPerPage" item-type="tab" redirect-url="/home"></div>
		</div>
	</div>
</div>