<div ng-mousedown="hideSidebar($event)">
	<!-- SideBar with Form for Log In-->
	<div class="ui right red sidebar edit-profile">
		<div class="ui form segment" href="#">
			<div class="field">
				<label>Change Email</label>
				<div class="ui left labeled icon input">
					<input class="defaultFocus" type="text" placeholder="Email">
					<i class="user icon"></i>
					<div class="ui corner label">
						<i class="icon asterisk"></i>
					</div>
				</div>
			</div>
			<div class="field">
				<label>Current Password</label>
				<div class="ui left labeled icon input">
					<input type="password" placeholder="Password">
					<i class="lock icon"></i>
					<div class="ui corner label">
						<i class="icon asterisk"></i>
					</div>
				</div>
			</div>
			<div class="field">
				<label>New Password</label>
				<div class="ui left labeled icon input">
					<input type="password" placeholder="Password">
					<i class="lock icon"></i>
					<div class="ui corner label">
						<i class="icon asterisk"></i>
					</div>
				</div>
			</div>
			<div class="ui error message">
				<div class="header">We noticed some issues</div>
			</div>
			<div class="ui center aligned grid">
				<a href="#/user/frontpage">
					<div class="ui red submit button">
						Confirm Changes
					</div>
				</a>
			</div>
		</div>
	</div>

	<div class="top ui page grid">

		<div class="twelve wide column">
			<h1>hoard</h1>
		</div>
		<div class="four wide column">
			<div class="ui compact menu">
				<div class="ui simple dropdown icon right labeled button">
						{{user.email}}
					<i class="user icon"></i>
					<div class="menu">
						<div class="item edit-profile selection" ng-click="showSidebar()">
							<i class="edit icon"></i>Edit Profile
						</div>
						<div ng-click="logout()" class="item">
							<i class="sign out icon"></i>
							Log out
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="ui page grid information">
	
		<div class="row breadcrumb">
			<div class="sixteen wide column shaded-bg">
				<div class="ui breadcrumb">
					<a class="section">Home</a>
				</div>
			</div>
		</div>

		<div class="sixteen wide column">

			<div class="ui divider"></div>

			<div class="ui filter menu">
				<a class="item" ng-class="{active:tab === 'products'}" ng-click="showTab('products')">
					<i class="archive icon"></i>Products
				</a>
				<a class="item" ng-class="{active:tab === 'users'}" ng-click="showTab('users')">
					<i class="users icon"></i>Users
				</a>
				<a class="item" ng-class="{active: tab === 'edits'}" ng-click="showTab('edits')">
					<i class="users icon"></i>Edits
				</a>
				<div class="right menu">
					<div class="item">
						<div class="ui icon input">
							<input type="text" placeholder="Search...">
							<i class="search link icon"></i>
						</div>
					</div>
				</div>
			</div>
			<div ng-class="{active:tab === 'products'}" class="ui divided selection list tab">
				<button class="bottom-button select-button">Select All</button>
				<button class="bottom-button select-button">Select None</button>
				<button class="bottom-button select-button">Invert Selection</button>
				<div class="shaded-bg">
					<div ng-repeat="product in products" class="item">
						<div class="left floated"><input type="checkbox" name="selected"></div>
						<div class="right floated date"><button class="ui green button tiny">edit</button></div>
						<div class="right floated date">{{product.date}}</div>
						<div class="name" >
							<a href="#/product/profile">{{product.name}}</a>
						</div>
					</div>
				</div>
				<button class="bottom-button add-button">Add Product</button>
				<button class="bottom-button remove-button">Remove Selection</button>
			</div>
			
			<div ng-class="{active:tab === 'users'}" class="ui divided selection list tab shaded-bg">
				<a ng-repeat="user in users" href="#/user/profile" class="item">
					<div class="right floated date">{{user.date}}</div>
					<div class="name">
						{{user.name}}
					</div>
				</a>
			</div>
			
			<div ng-class="{active: tab === 'edits'}" class="ui divided selection list tab shaded-bg">
				<a ng-repeat="edit in edits" href="#/user/edit" class="item">
					<div class="right floated date">{{edit.date}}</div>
					<div class="name">
						{{edit.name}}
					</div>
				</a>
			</div>

			<div class="ui divider"></div>

			<div class="pageshowing">Showing <b>2</b> of 2</div>

			<div class="ui pagination menu">
				<a class="icon item disabled"><i class="icon left arrow"></i></a>
				<a class="active item">1</a>
				<a class="icon item disabled"><i class="icon right arrow"></i></a>
			</div>
		</div>
	</div>
</div>