<div ng-mousedown="hideSidebar($event)">
	
	<div data-header-directive></div>
	
	<div class="ui page grid information"  ng-controller="userProfileController">
		<div class="row breadcrumb">
			<div class="sixteen wide column shaded-bg">
				<div class="ui breadcrumb">
					<a class="section">Home</a>
					<i class="right arrow icon divider"></i>
					<a class="section">Users</a>
					<i class="right arrow icon divider"></i>
					<div class="active section">{{userProfile.email | cut:true:50:' ...'}}</div>
				</div>
			</div>
		</div>

		<div class="row profile-info">
			<div class="eleven wide column shaded-bg profile-data">
				<h2>{{userProfile.email | cut:true:50:' ...'}}</h2>
			<div class="ui divider"></div>
				<div data-message-directive message-type="success"></div>
				<div data-message-directive message-type="error"></div>
				<div>
					<p><b>E-mail:</b> {{userProfile.email}}</p>
					<p><b>Register Date:</b> {{userProfile.registerdate}}</p>
					<p><b>Permissions:</b> {{userProfile.permissions}}</p>
				</div>
				<div class="ui divider"></div>
				<div>
					<div class="ui form">
						<div class="user-permissions-radio grouped inline fields">
							<div class="field">
								<div class="ui radio checkbox" ng-click="setSelectedPermission('User')">
									<input type="radio" name="permission" ng-model="permissionSelected" value="User">
									<label>User</label>
								</div>
							</div>
							<div class="field">
								<div class="ui radio checkbox" ng-click="setSelectedPermission('Manager')">
									<input type="radio" name="permission" ng-model="permissionSelected" value="Manager">
									<label>Manager</label>
								</div>
							</div>
							<div class="field">
								<div class="ui radio checkbox" ng-click="setSelectedPermission('Admin')">
									<input type="radio" name="permission" ng-model="permissionSelected" value="Admin">
									<label>Admin</label>
								</div>
							</div>

							<div class="right floated ui primary button" ng-click="changePermissions()">
								Save
							</div>
							<div class="right floated ui discard button" ng-click="setSelectedPermission(userProfile.permissions)">
								Discard
							</div>
						</div>
					</div>
				</div>
				<div class="ui divider"></div>
			</div>
			<div class="four wide column shaded-bg profile-image">
				<img src="/images/profile.png"></img>
			</div>
		</div>
		
		<div class="row profile-history shaded-bg" ng-If="user != null && user.permissions == 'Admin'">
			<div class="sixteen wide column">
				<h2>Edit History:</h2>
				<div class="ui divider"></div>
				
				<div class="ui divided selection list">
					<div class="tableHeader item">
						<div class="right floated" style="margin-right: 5%; margin-left: 5%">Actions</div>
						<span>Type</span>
						<div class="right floated list-column-2">Date</div>
						<span class="list-column-2 right floated">Status</span>
					</div>
					
					<div ng-repeat="edit in edits" class="item">
						<div class="right floated">
							<div class="ui tiny buttons">
								<div ng-class="{disabled: edit.editstatus != 'Pending'}" ng-click="approveEdit(edit)" class="ui green button">APPROVE</div>
								<div class="or"></div>
								<div ng-class="{disabled: edit.editstatus != 'Pending'}" ng-click="rejectEdit(edit)" class="ui red button">REJECT</div>
							</div>
						</div>
						<span class="name">
							<a href="#/edits/{{edit.id}}">{{edit.edittype}}</a>
						</span>
						<div class="right floated date list-column-2">{{edit.editdate}}</div>
						<span class=" list-column-2 right floated">
							<span class="left floated ui label" ng-class="{green: edit.editstatus == 'Approved', red: edit.editstatus == 'Denied', purple: edit.editstatus == 'Pending'}">
								{{edit.editstatus}}
							</span>
						</span>
					</div>
				</div>
				<div class="ui divider"></div>

				<div data-pagination-directive total-items="totalEdits" current-page="currentPage"
					page-range="pageRange" items-per-page="itemsPerPage" item-type="userId" redirect-url="/users/profile"></div>
			</div>
		</div>
	</div>
</div>
