<div ng-mousedown="hideSidebar($event)" ng-controller="userProfileController">
	
	<div data-header-directive></div>
	
	<div class="ui page grid information">
		<div class="row breadcrumb">
			<div class="sixteen wide column shaded-bg">
				<div class="ui breadcrumb">
					<a class="section">Home</a>
					<i class="right arrow icon divider"></i>
					<a class="section">Users</a>
					<i class="right arrow icon divider"></i>
					<div class="active section">{{user.email | cut:true:50:' ...'}}</div>
				</div>
			</div>
		</div>

		<div class="row profile-info">
			<div class="eleven wide column shaded-bg profile-data">
				<h2>{{user.email | cut:true:50:' ...'}}</h2>
			<div class="ui divider"></div>
				<div>
					<p><b>E-mail:</b> {{user.email}}</p>
					<p><b>Register Date:</b> {{user.registerdate}}</p>
					<p><b>Permissions:</b> {{user.permissions}}</p>
				</div>
				<div class="ui divider"></div>
				<div>
					<div class="ui form">
					  <div class="user-permissions-radio grouped inline fields">
						<div class="field">
							<div class="ui radio checkbox">
								<input type="radio" name="permission" value="user">
								<label>User</label>
							</div>
						</div>
						<div class="field">
							<div class="ui radio checkbox">
								<input type="radio" name="permission" value="manager">
								<label>Manager</label>
							</div>
						</div>
						<div class="field">
							<div class="ui radio checkbox">
								<input type="radio" name="permission" value="admin">
								<label>Admin</label>
							</div>
						</div>
						<div class="right floated ui primary button">
							Save
						</div>
						<div class="right floated ui discard button">
							Discard
						</div>

					  </div>
					</div>
				</div>
				<div class="ui divider"></div>
			</div>
			<div class="four wide column shaded-bg profile-image">
				<img src="/images/profile.png"></img>
			</div>
		</div>
		
		<div class="row profile-history shaded-bg">
			<div class="sixteen wide column">
				<h2>Edit History:</h2>
				<div class="ui divider"></div>
				<div class="ui divided selection list tab" data-tab="users">
					<a class="active item">
						<div class="right floated date">Sep 14, 2014</div>
						<div class="name">
							Edit 1
						</div>
					</a>
					<a class="item">
						<div class="right floated date">Dec 15, 2014</div>
						<div class="name">
							Edit 2
						</div>
					</a>
					<a class="item">
						<div class="right floated date">Dec 15, 2014</div>
						<div class="name">
							Edit 3
						</div>
					</a>
					<a class="item">
						<div class="right floated date">Dec 15, 2014</div>
						<div class="name">
							Edit 4
						</div>
					</a>
				</div>
				<div class="ui divider"></div>

				<div class="pageshowing">Showing <b>2</b> of 2</div>

				<div class="ui pagination menu">
					<a class="icon item disabled"><i class="icon left arrow"></i></a>
					<a class="active item">1</a>
					<a class="icon item disabled"><i class="icon right arrow"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>
