<div ng-mousedown="hideSidebar($event)" ng-controller="addProductController">
	
	<div data-header-directive></div>
	
	<div class="ui page grid information">
		<div class="row breadcrumb">
			<div class="sixteen wide column shaded-bg">
				<div class="ui breadcrumb">
					<a class="section">Home</a>
					<i class="right arrow icon divider"></i>
					<a class="section">Products</a>
					<i class="right arrow icon divider"></i>
					<div class="active section">Add</div>
				</div>
			</div>
		</div>

		<div class="row profile-info">
			<div class="sixteen wide column shaded-bg profile-data">
				<h2>Add Product</h2>
				<div class="ui divider"></div>
				<div data-message-directive message-type="success"></div>
				<div data-message-directive message-type="error"></div>
				<div class="add-item-form">
					<div class="ui fluid form segment">
						<div class="two fields">
							<div class="field">
								<label>Product Name</label>
								<div class="ui icon input">
									<input ng-model="pName" name="pName" type="text" placeholder="The Amazing....">
									<div class="ui corner label">
										<i class="icon asterisk"></i>
									</div>
								</div>
							</div>
							<div class="field">
								<label>Product Link</label>
									<div class="ui labeled input add-product product-link">
										<div class="ui label">
											http://
										</div>
										<input ng-model="pLink" name="pLink" type="text" placeholder="thewebsite.com">
										<div class="ui corner label">
											<i class="icon asterisk"></i>
										</div>
									</div>
							</div>
						</div>
						
						<div class="field">
							<label>Pick a category from the following list:</label>
							<select ng-options="category.categoryid as category.name for category in categories" ng-model="pCategory" name="pCategory" class="ui dropdown">
							</select>
						</div>
					</div>
						
					<div class="ui fluid form segment">
						<div class="one field">
							<div class="field">
								<label>Image</label>
								<div class="row">
									<div class="ui selection">
										<input id="file" type="file" ng-model="pImage" onchange="angular.element(this).scope().fileChanged(this.files)" name="pImage">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="ui fluid form segment">
						<div class="one field">
							<div class="field">
								<label>Image Preview</label>
								<div class="row">
									<div class="four wide column shaded-bg profile-image">
										<img id="productImage" src="">
									</div>
								</div>
							</div>
						</div>
					</div>
						<div class="ui divider"></div>
						<div class="row">
							<div id="product-submit" ng-click="addProduct(pName,pLink,pCategory,pImage)" type="submit" class="ui primary button">
								Add product
							</div>
						</div>
					</div>
					<div class="ui divider"></div>
				</div>
			</div>
		</div>
	</div>
</div>