<div ng-mousedown="hideSidebar($event)" ng-controller="productProfileController">
	
	<div data-header-directive></div>
	
	<div class="ui page grid information">
		<div class="row breadcrumb">
			<div class="sixteen wide column shaded-bg">
				<div class="ui breadcrumb">
					<a class="section">Home</a>
					<i class="right arrow icon divider"></i>
					<a class="section">Products</a>
					<i class="right arrow icon divider"></i>
					<div class="active section">Add</div>
				</div>
			</div>
		</div>

		<div class="row profile-info">
			<div class="sixteen wide column shaded-bg profile-data">
				<h2>Add Product</h2>
				<div class="ui divider"></div>
				<div class="add-item-form">
					<form>
						<div class="row">
							<div class="field">
								<label>Product Name</label>
								<div class="ui icon input">
									<input ng-model="pName" type="text" placeholder="The Amazing....">
									<div class="ui corner label">
										<i class="icon asterisk"></i>
									</div>
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="field">
								<label>Product Link</label>
								<div class="ui labeled input add-product product-link">
									<div class="ui label">
										http://
									</div>
									<input ng-model="pLink" type="text" placeholder="thewebsite.com">
									<div class="ui corner label">
										<i class="icon asterisk"></i>
									</div>
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="field">
								<label>Pick a category from the following list:</label>
								<div class="ui selection list product-category">
									<div class="item">
										<div class="content">
											<div class="header">Categoria1</div>
										</div>
									</div>
									<div class="item">
										<div class="content">
											<div class="header">Categoria2</div>
										</div>
									</div>
									<div class="item">
										<div class="content">
											<div class="header">Categoria3</div>
										</div>
									</div>
								</div>
								<!--<div class="ui left labeled selection dropdown">
										<input type="hidden" ng-model="pCategory">
										<div class="default text">Category</div>
										<i class="dropdown icon"></i>
										<div class="menu">
											<div ng-repeat="category in categories" class="item" data-value="{{category.id}}">{{category.name}}</div>
										</div>
									</div>-->
							</div>
						</div>
						
						<div class="row">
							<div class="field">
								<label>Image</label>
								<div class="ui selection dropdown">
									<input type="file" ng-model="pImage">
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="ui divider"></div>
			</div>
		</div>
	</div>
</div>