<div ng-mousedown="hideSidebar($event)">

	<div data-header-directive></div>

	<div class="ui page grid information" ng-controller="productEditController">
		<div class="row breadcrumb">
			<div class="sixteen wide column shaded-bg">
				<div class="ui breadcrumb">
					<a class="section" href="#/home/products/1">Home</a>
					<i class="right arrow icon divider"></i>
					<a class="section" href="#/home/products/1">Products</a>
					<i class="right arrow icon divider"></i>
					<a class="section" href="#/products/profile/{{product.id}}/1">{{defaultName | cut:true:50:' ...'}}</a>
					<i class="right arrow icon divider"></i>
					<div class="active section">Edit</div>
				</div>
			</div>
		</div>

		<div class="row profile-info">
			<div class="eleven wide column shaded-bg profile-data">
				<h2>Edit Product</h2>
				<div class="ui divider"></div>
				<div data-message-directive message-type="success"></div>
				<div data-message-directive message-type="error"></div>
				<div class="edit-item-form">
					<div class="ui fluid form segment">
						<div class="two fields">
							<div class="field">
								<label>Product Name</label>
								<div class="ui icon input">
									<input ng-model="product.name" type="text" placeholder="The Amazing....">
								</div>
							</div>
							<div class="field">
								<label>Product Link</label>
									<div class="ui labeled input add-product product-link">
										<input ng-model="product.link" type="text">
									</div>
							</div>
						</div>
						
						<div class="field">
							<label>Category:</label>
							<select ng-options="category as category.name for category in categories" ng-model="category" class="ui dropdown">
							</select>
						</div>
						
						<div class="one field">
							<div class="field">
								<label>Image</label>
								<div class="row">
									<div class="ui selection">
										<input id="file" type="file" ng-model="pImage" onchange="angular.element(this).scope().fileChanged(this.files)" name="pImage">
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<p><b>Reason:</b></p> <textarea ng-model="reason" rows="4" cols="70" required></textarea>

					<div class="ui divider"></div>
					<div class="row">
						<div id="product-submit" ng-click="editProduct(productId, reason, product.name, product.link,
						product.imageName, category.categoryid)"
							 type="submit"
							 class="ui primary button" ng>
							Confirm Edit
						</div>
					</div>
				</div>
                <div class="ui divider"></div>
			</div>
			<div class="four wide column shaded-bg profile-image">
				<img id="productImage" src="/images/products/{{product.imageName}}">
			</div>



        </div>
    </div>
		</div>

		<div class="row profile-history shaded-bg" ng-If="user != null && user.permissions == 'Admin'">
			<div class="sixteen wide column">
				<h2>Edit History:</h2>
				<div class="ui divider"></div>

				<div class="ui divided selection list">
					<div class="tableHeader item">
						<div class="right floated">Actions</div>
						<span>Type</span>
						<div class="right floated list-column-2">Date</div>
						<span class="list-column-2 right floated">Status</span>
					</div>

					<div ng-repeat="edit in edits" class="item">
						<div class="right floated">
							<div class="ui tiny buttons">
								<div ng-class="{disabled: edit.editstatus != 'Pending'}" ng-click="approveEdit(edit)" class="ui green button">APPROVE</div>
								<div class="or"></div>
								<div ng-class="{disabled: edit.editstatus != 'Pending'}" ng-click="rejectEdit(edit)" class="ui red button">REJECT</div>
							</div>
						</div>
						<span class="name">
							<a href="#/edits/{{edit.id}}">{{edit.edittype}}</a>
						</span>
						<div class="right floated date list-column-2">{{edit.editdate}}</div>
						<span class=" list-column-2 right floated">
							<span class="left floated ui label" ng-class="{green: edit.editstatus == 'Approved', red: edit.editstatus == 'Denied', purple: edit.editstatus == 'Pending'}">
								{{edit.editstatus}}
							</span>
						</span>
					</div>
				</div>
				<div class="ui divider"></div>

				<div data-pagination-directive total-items="totalEdits" current-page="currentPage"
					page-range="pageRange" items-per-page="itemsPerPage" item-type="productId" redirect-url="/product/profile"></div>
			</div>
		</div>
	</div>
</div>
