<div ng-mousedown="hideSidebar($event)" ng-controller="productProfileController">
	
	<div data-header-directive></div>
	
	<div class="ui page grid information">
		<div class="row breadcrumb">
			<div class="sixteen wide column shaded-bg">
				<div class="ui breadcrumb">
					<a class="section">Home</a>
					<i class="right arrow icon divider"></i>
					<a class="section">Products</a>
					<i class="right arrow icon divider"></i>
					<div class="active section">{{product.name | cut:true:50:' ...'}}</div>
				</div>
			</div>
		</div>

		<div class="row profile-info">
			<div class="eleven wide column shaded-bg profile-data">
				<h2>{{product.name | cut:true:50:' ...'}}</h2>
				<div class="ui divider"></div>
				<div data-message-directive message-type="success"></div>
				<div data-message-directive message-type="error"></div>
				<div>
					<p><b>Link:</b> <a href="{{product.link}}">{{product.link}}</a></p>
					<p><b>Category:</b> {{category.name}}</p>
					<p ng-hide="user.permissions == 'Manager' || user.permissions == 'User' || user == null"><b>Creator: </b><a href="#/users/profile/{{addedBy.userid}}/1">{{addedBy.email}}</a></p>
				</div>
				<div class="ui divider"></div>
				<div class="ui red button medium" ng-click="showDeleteModal()">Delete</div>
				<div class="ui red button medium" ng-click="goToEdit()">Edit</div>
			</div>
			<div class="four wide column shaded-bg profile-image">
				<img src="/images/products/{{product.imageName}}"></img>
			</div>
		</div>
		
		<div class="row profile-history shaded-bg" ng-If="user != null && user.permissions == 'Admin'">
			<div class="sixteen wide column">
				<h2>Edit History:</h2>
				<div class="ui divider"></div>
				
				<div class="ui divided selection list">
					<div class="tableHeader item">
						<div class="right floated">Actions</div>
						<span>Type</span>
						<div class="right floated list-column-2">Date</div>
						<span class="list-column-2 right floated">Status</span>
					</div>
					
					<div ng-repeat="edit in edits" class="item">
						<div class="right floated">
							<div class="ui tiny buttons">
								<div ng-class="{disabled: edit.editstatus != 'Pending'}" ng-click="approveEdit(edit)" class="ui green button">APPROVE</div>
								<div class="or"></div>
								<div ng-class="{disabled: edit.editstatus != 'Pending'}" ng-click="rejectEdit(edit)" class="ui red button">REJECT</div>
							</div>
						</div>
						<span class="name">
							<a href="#/edits/{{edit.id}}">{{edit.edittype}}</a>
						</span>
						<div class="right floated date list-column-2">{{edit.editdate}}</div>
						<span class=" list-column-2 right floated">
							<span class="left floated ui label" ng-class="{green: edit.editstatus == 'Approved', red: edit.editstatus == 'Denied', purple: edit.editstatus == 'Pending'}">
								{{edit.editstatus}}
							</span>
						</span>
					</div>
				</div>
				<div class="ui divider"></div>

				<div data-pagination-directive total-items="totalEdits" current-page="currentPage"
					page-range="pageRange" items-per-page="itemsPerPage" item-type="productId" redirect-url="/product/profile"></div>
			</div>
		</div>
		
		<div class="ui modal delete-modal">
		  <i class="close icon"></i>
		  <div class="header">
			Deleting Product
		  </div>
		  <div class="content">
			<div class="description" style="text-align: center">
			  <p>In a short text, explain your reasoning for deleting this product.</p>
			  <textarea rows="4" cols="70" ng-model="reasonToDelete"></textarea>
			</div>
		  </div>
		  <div class="actions">
			<div class="ui red button">
			  Cancel
			</div>
			<div class="ui positive right labeled icon button" ng-click="deleteProduct()">
			  Accept
			  <i class="checkmark icon"></i>
			</div>
		  </div>
		</div>
	</div>
</div>
