<div ng-mousedown="hideSidebar($event)" ng-controller="editProfileController">
	
	<div data-header-directive></div>
	
	<div class="ui page grid information">
		<div class="row breadcrumb">
			<div class="sixteen wide column shaded-bg">
				<div class="ui breadcrumb">
					<a class="section">Home</a>
					<i class="right arrow icon divider"></i>
					<a class="section">Edits</a>
					<i class="right arrow icon divider"></i>
					<div class="active section">{{submitter.email}} - {{edit.edittype}}</div>
				</div>
			</div>
		</div>
		
		<div class="row profile-info">
			<div class="eleven wide column shaded-bg profile-data">
				<h2>{{submitter.email}} - {{edit.edittype}}</h2>
				<div class="ui divider"></div>
					<p><b>Product:</b> <a href="#/products/{{product.id}}">{{product.name | cut:true:50:' ...'}}</a></p>
					<p><b>Description:</b></p> 
					<p>{{edit.description}}</p>
					<p><b>Reason:</b></p>
					<p>{{edit.reason}}</p>
					<p><b>Author:</b> <a href="#/users/{{submitter.id}}">{{submitter.email}}</a></p>
					<p><b>Submission Date:</b> {{edit.editdate}}</p>
					<p><b>Status:</b> {{edit.editstatus}}</p>
					<p><b>Approved By:</b> {{approveby}}</p>
				<div class="ui divider"></div>
					<div class="ui medium buttons" style="margin-bottom: 15px">
						<div class="ui green button medium">APPROVE</div>
						<div class="or"></div>
						<div class="ui red button medium">REJECT</div>
					</div>
			</div>
			<div class="four wide column shaded-bg profile-image">
				<img src="/images/{{product.imageName}}"></img>
			</div>
		</div>
	</div>
</div>
