<div ng-mousedown="hideSidebar($event)">
	
	<div data-header-directive></div>
	
	<div class="ui page grid information">
		<div class="row breadcrumb">
			<div class="sixteen wide column shaded-bg">
				<div class="ui breadcrumb">
					<a class="section">Home</a>
					<i class="right arrow icon divider"></i>
					<a class="section">Edits</a>
					<i class="right arrow icon divider"></i>
					<div class="active section">Edit</div>
				</div>
			</div>
		</div>
		
		<div class="row profile-info equal height">
			<div class="eleven wide column shaded-bg">
				<table>
				<td><h2>EDIT 1</h2></td>
				<td align="right"></td>
						</table>
			<div class="ui divider"></div>
				<table>
					<td>Product</td><tr>
					</tr>
					<td>Description</td> 
					</tr>
					<td>Justification</td>
					</tr>
					<td>Author</td>
					</tr>
					<td>Submission Date</td>
					<td><b>Yesterday</b></td>
					</tr>
					<tr>
					<td>Status</td>
					<td><b>Unapproved</b></td>
					</tr>
					<td>Approved By</td>
					</tr>
					<td>Approval Date</td>
				  </tr>
				</table>
				<div class="ui divider"></div>
			</div>
			<div class="four wide column shaded-bg profile-image">
				<table>
					<tr>
						<td>IMAGE GOES HERE</td>
					</tr>
					<tr>
						<td>
							<div class="ui medium buttons">
								<div class="ui green button medium">APPROVE</div>
								<div class="or"></div>
								<div class="ui red button medium">REJECT</div>
							</div>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
