<div ng-mousedown="hideSidebar($event)">

	<div data-header-directive></div>

	<div class="ui page grid information" ng-controller="editProfileController">
		<div class="row breadcrumb">
			<div class="sixteen wide column shaded-bg">
				<div class="ui breadcrumb">
					<a class="section" href="#/home/products/1">Home</a>
					<i class="right arrow icon divider"></i>
					<a class="section" href="#/home/edits/1">Edits</a>
					<i class="right arrow icon divider"></i>
					<div class="active section">{{submitter.email}} - {{edit.edittype}}</div>
				</div>
			</div>
		</div>

		<div class="row profile-info">
			<div class="eleven wide column shaded-bg profile-data">
				<h2>{{submitter.email}} - {{edit.edittype}}</h2>
				<div class="ui divider"></div>
					<div data-message-directive message-type="success"></div>
					<div data-message-directive message-type="error"></div>
					<p><b>Product:</b> <a href="#/products/profile/{{product.id}}/1">{{product.name | cut:true:50:' ...'}}</a></p>
					<p ng-show="edit.name != undefined"><b>New Name:</b> {{edit.name}}</p>
                    <p ng-show="edit.link != undefined"><b>New Link:</b> {{edit.link}}</p>
                    <p ng-show="edit.imagename != undefined"><b>New Image Name:</b> {{edit.imagename}}</p>
                    <p ng-show="edit.category != undefined"><b>New Category:</b> {{edit.category}}</p>
					<p><b>Reason:</b> {{edit.reason}}</p>
					<p><b>Author:</b> <a href="#/users/profile/{{submitter.userid}}/1">{{submitter.email}}</a></p>
					<p><b>Submission Date:</b> {{edit.editdate}}</p>
					<p><b>Status:</b> {{edit.editstatus}}</p>
					<p><b>Resolved By:</b> <a href="#/users/profile/{{approvedby.userid}}/1">{{approvedby.email}}</a></p>
				<div class="ui divider"></div>
					<div class="ui medium buttons" style="margin-bottom: 15px">
						<div ng-class="{disabled: edit.editstatus != 'Pending'}" class="ui green button medium" ng-click="approveEdit(edit)">APPROVE</div>
						<div class="or"></div>
						<div ng-class="{disabled: edit.editstatus != 'Pending'}" class="ui red button medium"ng-click="rejectEdit(edit)">REJECT</div>
					</div>
			</div>
			<div class="four wide column shaded-bg profile-image">
				<img src="/images/products/{{edit.imageName}}"></img>
			</div>
		</div>
	</div>
</div>
