.favoritesList {
	position: absolute !important;
	top: 43px !important;
	bottom: 0 !important;
	left: 0 !important;
	right: 0 !important;
	background-image:url('../img/bg.gif');
}

.favoriteItem img{
	min-height: 20%;
	max-width: 100%;
	max-height: 40%;
}