/* Empty. Add your own CSS if you like */

#favorites, #settings, #addfav {color:white;font-size: 175%;}

#header, #footer {background-color: #FC5447;}
#item {width:50%;height:50%;}
#content{padding-top:40%;padding-left:25%;background-image:url('../img/bg.jpg');}