<div class="row breadcrumb">
	<div class="sixteen wide column shaded-bg">
		<div class="ui breadcrumb">
			<a class="section">Home</a>
			<i class="right arrow icon divider"></i>
			<div class="active section">{{currentLocation}}</div>
		</div>
	</div>
</div>