<div class="ui right red sidebar edit-profile">
	<div class="ui form segment" href="#">
		<div  ng-class="{error: passwordError}" class="field">
			<label>Current Password</label>
			<div class="ui left labeled icon input">
				<input type="password" ng-model="currPassword" placeholder="Password">
				<i class="lock icon"></i>
			</div>
		</div>
		<div  ng-class="{error: newPasswordError}" class="field">
			<label>New Password</label>
			<div class="ui left labeled icon input">
				<input class="defaultFocus" type="password" ng-model="newPassword" placeholder="Password">
				<i class="user icon"></i>
			</div>
			<div class="ui left labeled icon input" style="margin-top: 10px">
				<input class="defaultFocus" type="password" ng-model="newPassword2" placeholder="Confirm Password">
				<i class="user icon"></i>
			</div>
		</div>
		<div class="ui error message">
			<div class="header">We noticed some issues</div>
		</div>
		<div class="ui center aligned grid">
			<div class="ui red submit button" ng-click="changePassword()">
				Change Password
			</div>
		</div>
	</div>
</div>

<div class="top ui page grid">

	<div id="logo" class="removepadding two wide column">
		<a href="#/home/products/1"><img src="/images/hoardlogo.png"></img></a>
	</div>
	<div id="header" class="removepadding ten wide column">
		<a style="font-size: 120%;" href="#/home/products/1"><h1>hoard</h1></a>
	</div>
	<div class="four wide column">
		<div class="ui compact menu">
			<div id="options-dropdown" class="ui simple dropdown icon right labeled button">
					{{user.email}}
				<i class="user icon"></i>
				<div class="menu">
					<div class="item edit-profile selection" ng-click="showSidebar()">
						<i class="edit icon"></i>Edit Profile
					</div>
					<div id="signout-button" ng-click="logout()" class="item">
						<i class="sign out icon"></i>
						Log out
					</div>
				</div>
			</div>
		</div>
	</div>
</div>