<div class="ui right red sidebar edit-profile">
	<div class="ui form segment" href="#">
		<div class="field">
			<label>Change Email</label>
			<div class="ui left labeled icon input">
				<input class="defaultFocus" type="text" placeholder="Email">
				<i class="user icon"></i>
				<div class="ui corner label">
					<i class="icon asterisk"></i>
				</div>
			</div>
		</div>
		<div class="field">
			<label>Current Password</label>
			<div class="ui left labeled icon input">
				<input type="password" placeholder="Password">
				<i class="lock icon"></i>
				<div class="ui corner label">
					<i class="icon asterisk"></i>
				</div>
			</div>
		</div>
		<div class="field">
			<label>New Password</label>
			<div class="ui left labeled icon input">
				<input type="password" placeholder="Password">
				<i class="lock icon"></i>
				<div class="ui corner label">
					<i class="icon asterisk"></i>
				</div>
			</div>
		</div>
		<div class="ui error message">
			<div class="header">We noticed some issues</div>
		</div>
		<div class="ui center aligned grid">
			<a href="#/user/frontpage">
				<div class="ui red submit button">
					Confirm Changes
				</div>
			</a>
		</div>
	</div>
</div>

<div class="top ui page grid">

	<div id="logo" class="removepadding two wide column">
		<a href="#/home/products/1"><img src="/images/hoardlogo.png"></img></a>
	</div>
	<div id="header" class="removepadding ten wide column">
		<a style="font-size: 120%;" href="#/home/products/1"><h1>hoard</h1></a>
	</div>
	<div class="four wide column">
		<div class="ui compact menu">
			<div class="ui simple dropdown icon right labeled button">
					{{user.email}}
				<i class="user icon"></i>
				<div class="menu">
					<div class="item edit-profile selection" ng-click="showSidebar()">
						<i class="edit icon"></i>Edit Profile
					</div>
					<div ng-click="logout()" class="item">
						<i class="sign out icon"></i>
						Log out
					</div>
				</div>
			</div>
		</div>
	</div>
</div>