<ion-view title="products">
	<ion-content id="content">
		<ion-slide-box padding="" does-continue="true" show-pager="true" on-slide-changed="slideHasChanged($index)">
			<ion-slide>
				<button id="item" class="button button-stable button-large">
					<img ng-src="img/item1.jpg"><br>
					Item 1
				</button>
			</ion-slide>
			<ion-slide>
				<button id="item" class="button button-stable button-large">
					<img ng-src="img/item2.jpg"><br>
					Item 2
				</button>
			</ion-slide>
		</ion-slide-box>
	</ion-content>
</ion-view>